<div class="container">
<div class="row">
<div class=".col-xs-6 .col-md-4">
</div>

<section class="todoapp">

	
  <header class="header">
		<h1>The Jamal's To Do List</h1>
  	<form id="new-form">
			<input type="text" class="new-todo" placeholder="What needs to be done?" />
			</form>
  
  </header>
   
    
	<section class="main">
		<ul class="todo-list">

		</ul>

    
  
	</section>
</section>
</div>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Ahmad Jamal", "http://github.com/JonnShaft" %>
</section>
